<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      PhotogramFinal
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users">All users</a>
            <a class="dropdown-item" href="/photos">All public photos</a>
            <% if session[:user_id] != nil %>
              <% the_user = User.where({ :id => session[:user_id]}).at(0) %>
              <a class="dropdown-item" href="/edit_user_profile"><%= the_user.username %></a>
              <a class="dropdown-item" href="/user_sign_out">Sign out</a>
            <% else %>
              <a class="dropdown-item" href="/user_sign_in">Sign in</a>
              <a class="dropdown-item" href="/user_sign_up">Sign up</a>
            <% end %>
          </div>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
